In [1]:
import os

import numpy as np
import pandas as pd
# import tensorflow.keras as keras
import keras
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import hyperopt

DIR_TRAIN = os.getcwd() + "\\data\\train.csv"
DIR_TEST = os.getcwd() + "\\data\\test.csv"

test_names = ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
train_names = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin',
               'Embarked']

Using TensorFlow backend.

In [2]:
def loadData(is_train, dir):
    if is_train:
        names = train_names
    else:
        names = test_names
    data = pd.read_csv(dir, header=0, names=names)
    return data

In [3]:
def splitData(datas, labels, splite):
    return train_test_split(datas, labels, test_size=splite, random_state=42)

In [4]:
data_train = loadData(is_train=True, dir=DIR_TRAIN)

In [5]:
data_test = loadData(is_train=False,dir=DIR_TEST)

In [6]:
x_train = data_train.drop(['PassengerId','Ticket','Survived','Cabin'],axis = 1)
y_train = data_train['Survived']

In [7]:
print(x_train.head())
print(y_train.head())

   Pclass                                               Name     Sex   Age  \
0       3                            Braund, Mr. Owen Harris    male  22.0
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2       3                             Heikkinen, Miss. Laina  female  26.0
3       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4       3                           Allen, Mr. William Henry    male  35.0

   SibSp  Parch     Fare Embarked
0      1      0   7.2500        S
1      1      0  71.2833        C
2      0      0   7.9250        S
3      1      0  53.1000        S
4      0      0   8.0500        S
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [8]:
x_val = data_test.drop(['PassengerId','Ticket','Cabin'],axis=1)

In [9]:
print(x_train.shape)
print(x_val.shape)
data = x_train.append(x_val)
print(data.shape)

(891, 8)
(418, 8)
(1309, 8)

In [10]:
data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S

In [11]:
data['Title'] = data['Name'].map(lambda x: x.split(', ')[1].split('.')[0])
data.sample(20)

,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Title
245,1,"Kenyon, Mr. Frederick R",male,41.00,1,0,51.8625,S,Mr
252,1,"Clark, Mr. Walter Miller",male,27.00,1,0,136.7792,C,Mr
588,3,"Gilinski, Mr. Eliezer",male,22.00,0,0,8.0500,S,Mr
117,3,"Sandstrom, Miss. Beatrice Irene",female,1.00,1,1,16.7000,S,Miss
356,1,"Bowerman, Miss. Elsie Edith",female,22.00,0,1,55.0000,S,Miss
250,2,"West, Miss. Barbara J",female,0.92,1,2,27.7500,S,Miss
306,1,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,151.5500,S,Mr
413,3,"Spector, Mr. Woolf",male,NaN,0,0,8.0500,S,Mr
152,3,"Meo, Mr. Alfonzo",male,55.50,0,0,8.0500,S,Mr
295,3,"Angheloff, Mr. Minko",male,26.00,0,0,7.8958,S,Mr
222,2,"Cook, Mrs. (Selena Rogers)",female,22.00,0,0,10.5000,S,Mrs
382,3,"Tikkanen, Mr. Juho",male,32.00,0,0,7.9250,S,Mr
285,3,"Stankovic, Mr. Ivan",male,33.00,0,0,8.6625,C,Mr
352,2,"Dibden, Mr. William",male,18.00,0,0,73.5000,S,Mr
115,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,7.9250,S,Mr
130,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,7.8958,C,Mr
653,3,"O'Leary, Miss. Hanora ""Norah""",female,NaN,0,0,7.8292,Q,Miss
189,3,"Turcin, Mr. Stjepan",male,36.00,0,0,7.8958,S,Mr
827,2,"Mallet, Master. Andre",male,1.00,0,2,37.0042,C,Master
597,3,"Johnson, Mr. Alfred",male,49.00,0,0,0.0000,S,Mr

In [12]:
data = data.drop('Name',axis=1)
data.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked Title
0       3    male  22.0      1      0   7.2500        S    Mr
1       1  female  38.0      1      0  71.2833        C   Mrs
2       3  female  26.0      0      0   7.9250        S  Miss
3       1  female  35.0      1      0  53.1000        S   Mrs
4       3    male  35.0      0      0   8.0500        S    Mr

In [13]:
data['FamilySize'] = data['SibSp']+data['Parch']+1
data.sample(10)

     Pclass   Sex    Age  SibSp  Parch      Fare Embarked   Title  FamilySize
64        1  male  13.00      2      2  262.3750        C  Master           5
89        3  male  24.00      0      0    8.0500        S      Mr           1
34        1  male  30.00      1      0   57.7500        C      Mr           2
215       1  male  42.00      0      0   42.5000        S      Mr           1
755       2  male   0.67      1      1   14.5000        S  Master           3
294       3  male  24.00      0      0    7.8958        S      Mr           1
34        1  male  28.00      1      0   82.1708        C      Mr           2
125       3  male  12.00      1      0   11.2417        C  Master           2
661       3  male  40.00      0      0    7.2250        C      Mr           1
85        3  male    NaN      1      0   14.4542        C      Mr           2

In [14]:
data['IsAlone'] = 1
data['IsAlone'].loc[data['FamilySize'] > 1] = 0
data.sample(10)

d:\anaconda3\envs\deeplearning\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone
125,3,female,17.0,0,1,16.1000,S,Miss,2,0
297,1,female,2.0,1,2,151.5500,S,Miss,4,0
680,3,female,NaN,0,0,8.1375,Q,Miss,1,1
493,1,male,71.0,0,0,49.5042,C,Mr,1,1
385,2,male,18.0,0,0,73.5000,S,Mr,1,1
735,3,male,28.5,0,0,16.1000,S,Mr,1,1
300,3,male,32.0,0,0,7.7750,S,Mr,1,1
766,1,male,NaN,0,0,39.6000,C,Dr,1,1
59,3,male,11.0,5,2,46.9000,S,Master,8,0
313,3,female,37.0,0,0,7.7500,Q,Miss,1,1

In [15]:
print('-' *10)
print(x_train.isnull().sum())
print('-' *10)
print(x_val.isnull().sum())

----------
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64
----------
Pclass       0
Name         0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [16]:
print(data['Title'].value_counts())
#将Title小于10的变为Msic

title_names = (data['Title'].value_counts()<10)

data['Title'] = data['Title'].map(lambda x: 'Msic' if title_names.loc[x] == True else x)
data.sample(20)

Mr              757
Miss            260
Mrs             197
Master           61
Dr                8
Rev               8
Col               4
Major             2
Mlle              2
Ms                2
Jonkheer          1
Sir               1
Don               1
Dona              1
Mme               1
the Countess      1
Lady              1
Capt              1
Name: Title, dtype: int64

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone
102,1,male,21.0,0,1,77.2875,S,Mr,2,0
536,1,male,45.0,0,0,26.5500,S,Msic,1,1
763,1,female,36.0,1,2,120.0000,S,Mrs,4,0
623,3,male,21.0,0,0,7.8542,S,Mr,1,1
227,3,female,NaN,0,0,7.7500,Q,Miss,1,1
351,2,male,25.0,0,0,10.5000,S,Mr,1,1
433,3,male,17.0,0,0,7.1250,S,Mr,1,1
771,3,male,48.0,0,0,7.8542,S,Mr,1,1
341,1,female,24.0,3,2,263.0000,S,Miss,6,0
99,3,male,33.0,0,0,8.0500,S,Mr,1,1
679,1,male,36.0,0,1,512.3292,C,Mr,2,0
244,3,male,NaN,1,2,23.4500,S,Master,4,0
316,2,female,24.0,1,0,26.0000,S,Mrs,2,0
205,3,female,2.0,0,1,10.4625,S,Miss,2,0
128,2,male,42.0,0,0,13.0000,S,Mr,1,1
380,3,male,NaN,0,0,7.7500,Q,Mr,1,1
310,1,female,24.0,0,0,83.1583,C,Miss,1,1
297,3,male,NaN,2,0,21.6792,C,Mr,3,0
740,1,male,NaN,0,0,30.0000,S,Mr,1,1
541,3,female,9.0,4,2,31.2750,S,Miss,7,0

In [17]:
age_mean = data['Age'].mean()
fare_mean = data['Fare'].mean()
print('age mean : {}    fare mean : {}'.format(age_mean,fare_mean))

age mean : 29.881137667304014    fare mean : 33.29547928134557

In [18]:
#mode 泛数
data['Embarked'].mode()

0    S
dtype: object

In [19]:
data['Embarked'].fillna(data['Embarked'].mode()[0],inplace=True)
data = data.fillna({'Age':age_mean,'Fare':fare_mean})

In [20]:
print(data.isnull().sum())

Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
Title         0
FamilySize    0
IsAlone       0
dtype: int64

In [21]:
data['Embarked'] = pd.Categorical(data['Embarked'])
data['Embarked'] = data['Embarked'].cat.codes+1

data['Sex'] = pd.Categorical(data['Sex'])
data['Sex'] = data['Sex'].cat.codes+1

data['Title'] = pd.Categorical(data['Title'])
data['Title'] = data['Title'].cat.codes+1

In [22]:
data.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone
0,3,2,22.0,1,0,7.2500,3,3,2,0
1,1,1,38.0,1,0,71.2833,1,4,2,0
2,3,1,26.0,0,0,7.9250,3,2,1,1
3,1,1,35.0,1,0,53.1000,3,4,2,0
4,3,2,35.0,0,0,8.0500,3,3,1,1

In [23]:
age_bin = [-1,0,5,12,18,25,35,60,120]
group_names = ['Unknown', 'Baby', 'Child', 'Teenager', 'Student', 'Young Adult', 'Adult', 'Senior']
age_cat = pd.cut(data['Age'],bins=age_bin,labels=group_names)
data['Age'] = age_cat.cat.codes

In [24]:
data.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone
0,3,2,4,1,0,7.2500,3,3,2,0
1,1,1,6,1,0,71.2833,1,4,2,0
2,3,1,5,0,0,7.9250,3,2,1,1
3,1,1,5,1,0,53.1000,3,4,2,0
4,3,2,5,0,0,8.0500,3,3,1,1

In [25]:
fare_bin = (-1, 0, 8, 15, 31, 1000)
group_names = ['Unknown', '1_quartile', '2_quartile', '3_quartile', '4_quartile']
fare_cat = pd.cut(data['Fare'],bins=fare_bin,labels=group_names)
data['Fare'] = fare_cat.cat.codes
data.head()

   Pclass  Sex  Age  SibSp  Parch  Fare  Embarked  Title  FamilySize  IsAlone
0       3    2    4      1      0     1         3      3           2        0
1       1    1    6      1      0     4         1      4           2        0
2       3    1    5      0      0     1         3      2           1        1
3       1    1    5      1      0     4         3      4           2        0
4       3    2    5      0      0     2         3      3           1        1

In [26]:
if os.path.exists('./working/train.csv'):
    os.remove('./working/train.csv')
    
save_train = data.iloc[0:891].copy()
save_train['Survived'] = y_train
save_train.to_csv('./working/train.csv',index=False)

if os.path.exists('./working/test.csv'):
    os.remove('./working/test.csv')
    
save_val = data.iloc[891:].copy()
save_val.to_csv('./working/test.csv',index=False)

In [27]:
def generator_data():
    x_train = pd.read_csv('./working/train.csv', header=0,)
    y_train = x_train.pop('Survived') 
    x_train,x_test,y_train,y_test = train_test_split(x_train, y_train, test_size=0.2, random_state=33)
    
    y_train = np.asarray(y_train)
    x_train = np.asarray(x_train)

    y_test = np.asarray(y_test)
    y_train = np.asarray(y_train)
    
    return x_train,y_train,x_test,y_test

In [28]:
x_train_,y_train_,x_test_,y_test_ = generator_data()
x_train_

array([[3, 2, 5, ..., 3, 1, 1],
       [2, 1, 6, ..., 4, 3, 0],
       [3, 2, 4, ..., 3, 1, 1],
       ...,
       [2, 2, 4, ..., 3, 2, 0],
       [3, 2, 4, ..., 3, 1, 1],
       [2, 2, 5, ..., 3, 1, 1]], dtype=int64)

In [29]:
from hyperopt import Trials, STATUS_OK, tpe,hp
from hyperopt.fmin import fmin
from hyperas import optim
from hyperas.distributions import choice, uniform


def create_model(params,optimizer,loss,metrics):
    '''
    :return: keras model
    '''
    model = keras.models.Sequential()
    model.add(keras.layers.Dense(params['unite1'], activation='relu',kernel_regularizer=keras.regularizers.l1_l2(l1=0.001,l2=0.001)))
    model.add(keras.layers.Dropout(params['drop1']))
    model.add(keras.layers.Dense(params['unite2'], activation='relu',kernel_regularizer=keras.regularizers.l1_l2(l1=0.001,l2=0.001)))
    model.add(keras.layers.Dropout(params['drop2']))
    model.add(keras.layers.Dense(params['unite3'], activation='relu',kernel_regularizer=keras.regularizers.l1_l2(l1=0.001,l2=0.001)))
    model.add(keras.layers.Dropout(params['drop3']))
    model.add(keras.layers.Dense(1,activation='sigmoid'))
#     model.add(keras.layers.Dense(8, activation='relu'))
    model.compile(optimizer,loss,metrics)
    
    return model

In [30]:
# model = create_model({'drop1': 0.8,
#  'drop2': 0.3,
#  'drop3': 0.1,
#  'unite1': 64,
#  'unite2': 64,
#  'unite3': 128})
# model.metrics

In [31]:
from keras.wrappers.scikit_learn import KerasClassifier
import xgboost as xgb  
from sklearn.model_selection import StratifiedKFold
import hyperopt.pyll.stochastic
from sklearn.metrics import make_scorer
from sklearn.model_selection import cross_val_score

In [32]:
keras_space={
    'unite1':hp.choice('unite1',[8,10,12,14,16,18,20]),
    'drop1':hp.choice('drop1',[0.2]),
     'unite2':hp.choice('unite2',[8,10,12,14,16,18,20]),
    'drop2':hp.choice('drop2',[0.2]),
     'unite3':hp.choice('unite3',[8,10,12,14,16,18,20]),
    'drop3':hp.choice('drop3',[0.2]),
}

In [33]:
hyperopt.pyll.stochastic.sample(keras_space)

{'drop1': 0.2,
 'drop2': 0.2,
 'drop3': 0.2,
 'unite1': 18,
 'unite2': 14,
 'unite3': 12}

In [34]:
def keras_objective(params):
    param = {
        'unite1':params['unite1'],
        'drop1':params['drop1'],
        'unite2':params['unite2'],
        'drop2':params['drop2'],
        'unite3':params['unite3'],
        'drop3':params['drop3'],
    }
    
    print(param)
   
    # define 10-fold cross validation test harness
    kfold = StratifiedKFold(n_splits=4, shuffle=True, random_state=42)
    cvscores = []
    for train, test in kfold.split(x_train_, y_train_):
        clf = KerasClassifier(build_fn=create_model,params = param,epochs = 20,batch_size=128,
                              optimizer=keras.optimizers.RMSprop(), 
                              loss=keras.losses.binary_crossentropy, 
                              metrics=['acc'], verbose=0)
        clf.fit(x_train_[train],y_train_[train],)
        # evaluate the model
        scores = clf.score(x_train_[test], y_train_[test])
        print("score --> : %.2f%%" % (scores*100))
        cvscores.append(scores*100)
    return -1 * np.mean(cvscores)

In [35]:
def keras_objective2(params):
    param = {
        'unite1':params['unite1'],
        'drop1':params['drop1'],
        'unite2':params['unite2'],
        'drop2':params['drop2'],
        'unite3':params['unite3'],
        'drop3':params['drop3'],
    }
    
    print(param)
   
    # define 10-fold cross validation test harness
    kfold = StratifiedKFold(n_splits=4, shuffle=True, random_state=42)
    cvscores = []
    for train, test in kfold.split(x_train_, y_train_):
#         clf = KerasClassifier(build_fn=create_model,params = param,epochs = 20,batch_size=128,
#                               optimizer=keras.optimizers.RMSprop(), 
#                               loss=keras.losses.binary_crossentropy, 
#                               metrics=['acc'], verbose=0)
        model = create_model(params,optimizer=keras.optimizers.RMSprop(),loss=keras.losses.binary_crossentropy, metrics=[keras.metrics.binary_accuracy])
        model.fit(x_train_[train],y_train_[train],epochs=20,batch_size=128,verbose=0)
        # evaluate the model
        scores =  model.evaluate(x_train_[test], y_train_[test])
#         scores = clf.score(x_train_[test], y_train_[test])
#         print("score --> : %.2f%%" % (scores[1]*100))
        cvscores.append(scores[1]*100)
    
    score = np.mean(cvscores)
    print("param score -------> %.2f" % score)
    return -1 * score

In [36]:
keras_best =fmin(fn=keras_objective2,
            space=keras_space,
            algo=tpe.suggest,
            max_evals=10)

{'unite1': 12, 'drop1': 0.2, 'unite2': 12, 'drop2': 0.2, 'unite3': 14, 'drop3': 0.2}
179/179 [==============================] - 0s 385us/step
179/179 [==============================] - 0s 492us/step
177/177 [==============================] - 0s 593us/step
177/177 [==============================] - 0s 695us/step
param score -------> 65.45
{'unite1': 10, 'drop1': 0.2, 'unite2': 16, 'drop2': 0.2, 'unite3': 14, 'drop3': 0.2}
179/179 [==============================] - 0s 849us/step
179/179 [==============================] - 0s 911us/step
177/177 [==============================] - 0s 1ms/step
177/177 [==============================] - 0s 1ms/step
param score -------> 62.50
{'unite1': 12, 'drop1': 0.2, 'unite2': 8, 'drop2': 0.2, 'unite3': 20, 'drop3': 0.2}
179/179 [==============================] - 0s 1ms/step
179/179 [==============================] - 0s 1ms/step
177/177 [==============================] - 0s 2ms/step
177/177 [==============================] - 0s 2ms/step
param score -------> 63.21
{'unite1': 10, 'drop1': 0.2, 'unite2': 16, 'drop2': 0.2, 'unite3': 20, 'drop3': 0.2}
179/179 [==============================] - 0s 2ms/step
179/179 [==============================] - 0s 2ms/step
177/177 [==============================] - 0s 2ms/step
177/177 [==============================] - 0s 2ms/step
param score -------> 66.46
{'unite1': 16, 'drop1': 0.2, 'unite2': 16, 'drop2': 0.2, 'unite3': 16, 'drop3': 0.2}
179/179 [==============================] - 0s 2ms/step
179/179 [==============================] - 0s 2ms/step
177/177 [==============================] - 1s 3ms/step
177/177 [==============================] - 0s 3ms/step
param score -------> 67.14
{'unite1': 12, 'drop1': 0.2, 'unite2': 12, 'drop2': 0.2, 'unite3': 20, 'drop3': 0.2}
179/179 [==============================] - 0s 3ms/step
179/179 [==============================] - 1s 3ms/step
177/177 [==============================] - 1s 3ms/step
177/177 [==============================] - 1s 3ms/step
param score -------> 61.23
{'unite1': 10, 'drop1': 0.2, 'unite2': 20, 'drop2': 0.2, 'unite3': 16, 'drop3': 0.2}
179/179 [==============================] - 1s 3ms/step
179/179 [==============================] - 1s 3ms/step
177/177 [==============================] - 1s 3ms/step
177/177 [==============================] - 1s 4ms/step
param score -------> 68.40
{'unite1': 16, 'drop1': 0.2, 'unite2': 16, 'drop2': 0.2, 'unite3': 16, 'drop3': 0.2}
179/179 [==============================] - 1s 4ms/step
179/179 [==============================] - 1s 4ms/step
177/177 [==============================] - 1s 4ms/step
177/177 [==============================] - 1s 4ms/step
param score -------> 64.87
{'unite1': 20, 'drop1': 0.2, 'unite2': 10, 'drop2': 0.2, 'unite3': 8, 'drop3': 0.2}
179/179 [==============================] - 1s 4ms/step
179/179 [==============================] - 1s 4ms/step
177/177 [==============================] - 1s 4ms/step
177/177 [==============================] - 1s 5ms/step
param score -------> 63.06
{'unite1': 12, 'drop1': 0.2, 'unite2': 8, 'drop2': 0.2, 'unite3': 10, 'drop3': 0.2}
179/179 [==============================] - 1s 5ms/step
179/179 [==============================] - 1s 5ms/step
177/177 [==============================] - 1s 5ms/step
177/177 [==============================] - 1s 5ms/step
param score -------> 63.20

In [37]:
keras_best

{'drop1': 0, 'drop2': 0, 'drop3': 0, 'unite1': 1, 'unite2': 6, 'unite3': 4}

In [43]:
param = {
    'drop1': 0.2, 'drop2':  0.2, 'drop3':  0.2, 'unite1': 16, 'unite2': 16, 'unite3':16
}

model = create_model(param,optimizer=keras.optimizers.RMSprop(),loss=keras.losses.binary_crossentropy, metrics=[keras.metrics.binary_accuracy])

In [44]:
his = model.fit(x_train_,y_train_,epochs=20,validation_data=[x_test_,y_test_],batch_size=128)

Train on 712 samples, validate on 179 samples
Epoch 1/20
712/712 [==============================] - 3s 4ms/step - loss: 0.9149 - binary_accuracy: 0.5829 - val_loss: 0.8134 - val_binary_accuracy: 0.6201
Epoch 2/20
712/712 [==============================] - 0s 28us/step - loss: 0.8464 - binary_accuracy: 0.6236 - val_loss: 0.8020 - val_binary_accuracy: 0.6369
Epoch 3/20
712/712 [==============================] - 0s 38us/step - loss: 0.8800 - binary_accuracy: 0.5969 - val_loss: 0.7957 - val_binary_accuracy: 0.6201
Epoch 4/20
712/712 [==============================] - 0s 27us/step - loss: 0.8652 - binary_accuracy: 0.6067 - val_loss: 0.7888 - val_binary_accuracy: 0.6313
Epoch 5/20
712/712 [==============================] - 0s 29us/step - loss: 0.8582 - binary_accuracy: 0.6138 - val_loss: 0.7806 - val_binary_accuracy: 0.6369
Epoch 6/20
712/712 [==============================] - 0s 29us/step - loss: 0.8157 - binary_accuracy: 0.6067 - val_loss: 0.7740 - val_binary_accuracy: 0.6480
Epoch 7/20
712/712 [==============================] - 0s 32us/step - loss: 0.8401 - binary_accuracy: 0.5983 - val_loss: 0.7689 - val_binary_accuracy: 0.6927
Epoch 8/20
712/712 [==============================] - 0s 34us/step - loss: 0.8085 - binary_accuracy: 0.6124 - val_loss: 0.7657 - val_binary_accuracy: 0.7039
Epoch 9/20
712/712 [==============================] - 0s 34us/step - loss: 0.7988 - binary_accuracy: 0.6264 - val_loss: 0.7585 - val_binary_accuracy: 0.6983
Epoch 10/20
712/712 [==============================] - 0s 32us/step - loss: 0.7973 - binary_accuracy: 0.6685 - val_loss: 0.7538 - val_binary_accuracy: 0.6872
Epoch 11/20
712/712 [==============================] - 0s 32us/step - loss: 0.7914 - binary_accuracy: 0.6601 - val_loss: 0.7496 - val_binary_accuracy: 0.7207
Epoch 12/20
712/712 [==============================] - 0s 31us/step - loss: 0.7995 - binary_accuracy: 0.6376 - val_loss: 0.7468 - val_binary_accuracy: 0.7318
Epoch 13/20
712/712 [==============================] - 0s 35us/step - loss: 0.7647 - binary_accuracy: 0.6826 - val_loss: 0.7379 - val_binary_accuracy: 0.7486
Epoch 14/20
712/712 [==============================] - 0s 29us/step - loss: 0.7816 - binary_accuracy: 0.6489 - val_loss: 0.7357 - val_binary_accuracy: 0.7486
Epoch 15/20
712/712 [==============================] - 0s 35us/step - loss: 0.7716 - binary_accuracy: 0.6699 - val_loss: 0.7328 - val_binary_accuracy: 0.7430
Epoch 16/20
712/712 [==============================] - 0s 32us/step - loss: 0.7755 - binary_accuracy: 0.6615 - val_loss: 0.7294 - val_binary_accuracy: 0.7486
Epoch 17/20
712/712 [==============================] - 0s 34us/step - loss: 0.7687 - binary_accuracy: 0.6868 - val_loss: 0.7244 - val_binary_accuracy: 0.7486
Epoch 18/20
712/712 [==============================] - 0s 31us/step - loss: 0.7686 - binary_accuracy: 0.6629 - val_loss: 0.7215 - val_binary_accuracy: 0.7486
Epoch 19/20
712/712 [==============================] - 0s 29us/step - loss: 0.7451 - binary_accuracy: 0.6826 - val_loss: 0.7150 - val_binary_accuracy: 0.7542
Epoch 20/20
712/712 [==============================] - 0s 32us/step - loss: 0.7478 - binary_accuracy: 0.6756 - val_loss: 0.7115 - val_binary_accuracy: 0.7486

In [45]:
model.save('./working/best_model.h5')

In [ ]:
from keras.models import load_model
model = load_model('./working/best_model.h5')

In [42]:
model.evaluate(x_test_,y_test_,batch_size=64)

179/179 [==============================] - 1s 5ms/step

[0.8045222093273141, 0.5977653701212153]

#### xgboost

In [58]:
def gini(truth, predictions):
    g = np.asarray(np.c_[truth, predictions, np.arange(len(truth)) ], dtype=np.float)
    g = g[np.lexsort((g[:,2], -1*g[:,1]))]
    gs = g[:,0].cumsum().sum() / g[:,0].sum()
    gs -= (len(truth) + 1) / 2.
    return gs / len(truth)

def gini_xgb(predictions, truth):
    truth = truth.get_label()
    return 'gini', -1.0 * gini(truth, predictions) / gini(truth, truth)

def gini_lgb(truth, predictions):
    score = gini(truth, predictions) / gini(truth, truth)
    return 'gini', score, True

def gini_sklearn(truth, predictions):
    return gini(truth, predictions) / gini(truth, truth)

gini_scorer = make_scorer(gini_sklearn, greater_is_better=True, needs_proba=True)

In [112]:
xgb_space={
  #XGBClassifier - http://xgboost.readthedocs.io/en/latest/parameter.html
            'learning_rate': hp.choice('learning_rate',[.01, .03, .05, .1, .25]), #default: .3
            'max_depth': hp.choice('max_depth',[1,2,4,6,8,10]), #default 2
            'n_estimators':hp.choice('grid_n_estimator',[10, 50, 100, 300]) , 
            'colsample_bytree': hp.uniform('colsample_bytree', 0.3, 1.0),
            'gamma': hp.uniform('gamma', 0.0, 0.5),
}

In [113]:
hyperopt.pyll.stochastic.sample(xgb_space)

{'colsample_bytree': 0.5059774069533536,
 'gamma': 0.25090304858874624,
 'learning_rate': 0.25,
 'max_depth': 2,
 'n_estimators': 50}

In [114]:
def xgb_objective(params):
    param = {
        'gamma':"{:.3f}".format(params['gamma']),
        'colsample_bytree':"{:.3f}".format(params['colsample_bytree']),
        'learning_rate':params['learning_rate'],
        'n_estimators':params['n_estimators'],
        'max_depth':params['max_depth']
    }
    
    clf = xgb.XGBClassifier(seed=0,** param)
    
    score = cross_val_score(clf, x_train_, y_train_, scoring=gini_scorer, cv=StratifiedKFold()).mean()
    print("Gini {:.3f} params {}".format(score, params))
    return score

In [115]:
xgb_best =fmin(fn=xgb_objective,
            space=xgb_space,
            algo=tpe.suggest,
            max_evals=20)

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.699 params {'colsample_bytree': 0.4591725362551607, 'gamma': 0.17689873629271607, 'learning_rate': 0.03, 'max_depth': 2, 'n_estimators': 10}
Gini 0.719 params {'colsample_bytree': 0.9259237692643127, 'gamma': 0.2954896374846197, 'learning_rate': 0.01, 'max_depth': 6, 'n_estimators': 10}
Gini 0.677 params {'colsample_bytree': 0.7347267819815047, 'gamma': 0.009514868292543444, 'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 100}
Gini 0.693 params {'colsample_bytree': 0.5379487706695507, 'gamma': 0.44549637243973556, 'learning_rate': 0.05, 'max_depth': 1, 'n_estimators': 100}
Gini 0.710 params {'colsample_bytree': 0.9571077216993986, 'gamma': 0.28291546661859346, 'learning_rate': 0.03, 'max_depth': 4, 'n_estimators': 50}
Gini 0.713 params {'colsample_bytree': 0.6467897677195162, 'gamma': 0.2968993646304432, 'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 10}
Gini 0.695 params {'colsample_bytree': 0.3001702130077853, 'gamma': 0.2903123227531913, 'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 10}
Gini 0.726 params {'colsample_bytree': 0.6995172041166915, 'gamma': 0.18990661462535813, 'learning_rate': 0.25, 'max_depth': 4, 'n_estimators': 10}
Gini 0.675 params {'colsample_bytree': 0.5793219363822731, 'gamma': 0.030289511477984088, 'learning_rate': 0.01, 'max_depth': 1, 'n_estimators': 300}
Gini 0.712 params {'colsample_bytree': 0.8511163512205626, 'gamma': 0.04483405182494915, 'learning_rate': 0.1, 'max_depth': 1, 'n_estimators': 100}
Gini 0.694 params {'colsample_bytree': 0.34572671235992086, 'gamma': 0.209898495554472, 'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 10}
Gini 0.705 params {'colsample_bytree': 0.3357231504681908, 'gamma': 0.38761981379779575, 'learning_rate': 0.25, 'max_depth': 2, 'n_estimators': 50}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.680 params {'colsample_bytree': 0.5808757120037438, 'gamma': 0.1672106626200895, 'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 300}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.679 params {'colsample_bytree': 0.6073293646773715, 'gamma': 0.15376039065544467, 'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 300}
Gini 0.719 params {'colsample_bytree': 0.9586320130168144, 'gamma': 0.05761775719369472, 'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 10}
Gini 0.723 params {'colsample_bytree': 0.6269196811198354, 'gamma': 0.019427652487297553, 'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 10}
Gini 0.675 params {'colsample_bytree': 0.5022863378480525, 'gamma': 0.37224895141323827, 'learning_rate': 0.01, 'max_depth': 1, 'n_estimators': 300}
Gini 0.711 params {'colsample_bytree': 0.8294260744834123, 'gamma': 0.45786624291147, 'learning_rate': 0.03, 'max_depth': 4, 'n_estimators': 100}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.717 params {'colsample_bytree': 0.907589958621102, 'gamma': 0.1648322450919782, 'learning_rate': 0.01, 'max_depth': 10, 'n_estimators': 100}
Gini 0.719 params {'colsample_bytree': 0.6924411627332555, 'gamma': 0.4906142288743329, 'learning_rate': 0.01, 'max_depth': 8, 'n_estimators': 50}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

In [116]:
print(xgb_best)

{'colsample_bytree': 0.5793219363822731, 'gamma': 0.030289511477984088, 'grid_n_estimator': 3, 'learning_rate': 0, 'max_depth': 0}

In [84]:
import lightgbm as lgbm

In [85]:
lgb_space = {
    'num_leaves': hp.quniform('num_leaves', 8, 128, 2),
    'colsample_bytree': hp.uniform('colsample_bytree', 0.3, 1.0),
}

In [92]:
def lgbm_objective(params):
    params = {
        'num_leaves': int(params['num_leaves']),
        'colsample_bytree': '{:.3f}'.format(params['colsample_bytree']),
    }
    
    clf = lgbm.LGBMClassifier(
        n_estimators=500,
        learning_rate=0.01,
        **params
    )
    
    score = cross_val_score(clf, x_train_, y_train_, scoring=gini_scorer, cv=StratifiedKFold()).mean()
    print("Gini {:.3f} params {}".format(score, params))
    return score

In [94]:
lgbm_best = fmin(fn=lgbm_objective,space=lgb_space,max_evals=20,algo=tpe.suggest)

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.706 params {'num_leaves': 106, 'colsample_bytree': '0.795'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.713 params {'num_leaves': 26, 'colsample_bytree': '0.542'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.706 params {'num_leaves': 94, 'colsample_bytree': '0.745'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.709 params {'num_leaves': 50, 'colsample_bytree': '0.680'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.715 params {'num_leaves': 124, 'colsample_bytree': '0.445'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.706 params {'num_leaves': 82, 'colsample_bytree': '0.780'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.709 params {'num_leaves': 42, 'colsample_bytree': '0.690'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.700 params {'num_leaves': 84, 'colsample_bytree': '0.878'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.706 params {'num_leaves': 70, 'colsample_bytree': '0.723'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.709 params {'num_leaves': 64, 'colsample_bytree': '0.660'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.712 params {'num_leaves': 58, 'colsample_bytree': '0.379'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.712 params {'num_leaves': 126, 'colsample_bytree': '0.397'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.709 params {'num_leaves': 16, 'colsample_bytree': '0.622'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.706 params {'num_leaves': 112, 'colsample_bytree': '0.776'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.713 params {'num_leaves': 116, 'colsample_bytree': '0.502'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.700 params {'num_leaves': 76, 'colsample_bytree': '0.868'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.709 params {'num_leaves': 20, 'colsample_bytree': '0.679'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.706 params {'num_leaves': 20, 'colsample_bytree': '0.701'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.715 params {'num_leaves': 14, 'colsample_bytree': '0.475'}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.713 params {'num_leaves': 84, 'colsample_bytree': '0.520'}

In [95]:
print(lgbm_best)

{'colsample_bytree': 0.8783036158249162, 'num_leaves': 84.0}

In [102]:
from sklearn.ensemble import RandomForestClassifier

In [106]:
def rf_objective(params):
    params = {'n_estimators': int(params['n_estimators']), 'max_depth': int(params['max_depth'])}
    clf = RandomForestClassifier(n_jobs=4, class_weight='balanced', **params)
    score = cross_val_score(clf, x_train_,y_train_, scoring=gini_scorer, cv=StratifiedKFold()).mean()
    print("Gini {:.3f} params {}".format(score, params))
    return score

In [107]:
rf_space = {
    'n_estimators': hp.quniform('n_estimators', 25, 500, 25),
    'max_depth': hp.quniform('max_depth', 1, 10, 1)
}

In [108]:
rf_best = fmin(fn=rf_objective,
            space=rf_space,
            algo=tpe.suggest,
            max_evals=20)

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.710 params {'n_estimators': 425, 'max_depth': 4}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.652 params {'n_estimators': 250, 'max_depth': 1}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.698 params {'n_estimators': 350, 'max_depth': 8}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.719 params {'n_estimators': 175, 'max_depth': 5}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.724 params {'n_estimators': 375, 'max_depth': 6}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.695 params {'n_estimators': 425, 'max_depth': 2}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.713 params {'n_estimators': 125, 'max_depth': 7}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.693 params {'n_estimators': 275, 'max_depth': 2}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.720 params {'n_estimators': 250, 'max_depth': 5}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.711 params {'n_estimators': 275, 'max_depth': 4}
Gini 0.697 params {'n_estimators': 25, 'max_depth': 3}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.719 params {'n_estimators': 475, 'max_depth': 6}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.720 params {'n_estimators': 350, 'max_depth': 5}
Gini 0.705 params {'n_estimators': 25, 'max_depth': 3}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.727 params {'n_estimators': 300, 'max_depth': 6}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.717 params {'n_estimators': 475, 'max_depth': 7}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.724 params {'n_estimators': 375, 'max_depth': 6}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.695 params {'n_estimators': 175, 'max_depth': 2}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.708 params {'n_estimators': 475, 'max_depth': 3}

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\model_selection\_split.py:598: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)

Gini 0.721 params {'n_estimators': 225, 'max_depth': 6}

In [109]:
print(rf_best)

{'max_depth': 1.0, 'n_estimators': 250.0}

In [110]:
rf_model = RandomForestClassifier(
    class_weight='balanced',
    n_estimators=250,
    max_depth=1
)

In [111]:
lgbm_model = lgbm.LGBMClassifier(
    n_estimators=500,
    learning_rate=0.01,
    num_leaves=84,
    colsample_bytree=0.88
)

In [117]:
xgb_model = xgb.XGBClassifier(
    n_estimators=300,
    learning_rate=0.01,
    max_depth=1,
    colsample_bytree=0.58,
    gamma=0.05
)

In [118]:
from keras.wrappers.scikit_learn import KerasClassifier

In [194]:
def build_keras_fn():
    model = load_model('./working/best_model.h5')
    return model

In [182]:
class MyKerasClassifier(KerasClassifier):
    def predict(self, x, **kwargs):
        p = super(MyKerasClassifier, self).predict(x, **kwargs)
#         print('predict')
#         print(p.shape)
        if p.shape[1] == 1:
#             print(p[:,0].shape)
            return p[:,0]
        return p
    def predict_proba(self, x, **kwargs):
        probs = super(MyKerasClassifier, self).predict_proba(x, **kwargs)
#         print('predict_proba')
#         print(probs.shape)
        return probs

In [195]:
keras_clf = MyKerasClassifier(build_fn=build_keras_fn,epcho=20)

In [196]:
vote_est = [
    #Ensemble Methods: http://scikit-learn.org/stable/modules/ensemble.html
   
    ('rfc', rf_model),
    
    ('lgbm', lgbm_model),
    
    #xgboost: http://xgboost.readthedocs.io/en/latest/model.html
   ('xgb', xgb_model),
    
    ('keras',keras_clf)

]

In [197]:
from sklearn.model_selection import ShuffleSplit
cv_split = ShuffleSplit(n_splits = 10, test_size = .3, train_size = .6, random_state = 0 ) # run model 10x with 60/30 split intentionally leaving out 10%

In [198]:
from sklearn import ensemble
from sklearn import model_selection

In [199]:
print(x_train_.shape)
print(y_train_.shape)

(712, 10)
(712,)

In [200]:
import types

In [201]:
 isinstance(build_keras_fn, types.FunctionType)

True

In [202]:
#Hard Vote or majority rules w/Tuned Hyperparameters
grid_hard = ensemble.VotingClassifier(estimators = vote_est , voting = 'hard')
grid_hard_cv = model_selection.cross_validate(grid_hard,x_train_,y_train_, cv  = cv_split)
grid_hard.fit(x_train_,y_train_)

print("Hard Voting w/Tuned Hyperparameters Training w/bin score mean: {:.2f}". format(grid_hard_cv['train_score'].mean()*100)) 
print("Hard Voting w/Tuned Hyperparameters Test w/bin score mean: {:.2f}". format(grid_hard_cv['test_score'].mean()*100))
print("Hard Voting w/Tuned Hyperparameters Test w/bin score 3*std: +/- {:.2f}". format(grid_hard_cv['test_score'].std()*100*3))
print('-'*10)

#Soft Vote or weighted probabilities w/Tuned Hyperparameters
grid_soft = ensemble.VotingClassifier(estimators = vote_est , voting = 'soft')
grid_soft_cv = model_selection.cross_validate(grid_soft, x_train_,y_train_, cv  = cv_split)
grid_soft.fit(x_train_,y_train_)

print("Soft Voting w/Tuned Hyperparameters Training w/bin score mean: {:.2f}". format(grid_soft_cv['train_score'].mean()*100)) 
print("Soft Voting w/Tuned Hyperparameters Test w/bin score mean: {:.2f}". format(grid_soft_cv['test_score'].mean()*100))
print("Soft Voting w/Tuned Hyperparameters Test w/bin score 3*std: +/- {:.2f}". format(grid_soft_cv['test_score'].std()*100*3))
print('-'*10)

Epoch 1/1
427/427 [==============================] - 1s 1ms/step - loss: 0.8835 - binary_accuracy: 0.6581
(214,)
(427,)
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8566 - binary_accuracy: 0.6557
(214,)
(427,)
Epoch 1/1
427/427 [==============================] - 1s 1ms/step - loss: 0.8618 - binary_accuracy: 0.6721
(214,)
(427,)
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8432 - binary_accuracy: 0.6838
(214,)
(427,)
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8344 - binary_accuracy: 0.6862
(214,)
(427,)
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8517 - binary_accuracy: 0.6862
(214,)
(427,)
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8396 - binary_accuracy: 0.6979
(214,)
(427,)
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8696 - binary_accuracy: 0.6768
(214,)
(427,)
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8524 - binary_accuracy: 0.6768
(214,)
(427,)
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8673 - binary_accuracy: 0.6628
(214,)
(427,)
Epoch 1/1
712/712 [==============================] - 1s 1ms/step - loss: 0.8667 - binary_accuracy: 0.6756
Hard Voting w/Tuned Hyperparameters Training w/bin score mean: 81.85
Hard Voting w/Tuned Hyperparameters Test w/bin score mean: 82.34
Hard Voting w/Tuned Hyperparameters Test w/bin score 3*std: +/- 3.70
----------

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8779 - binary_accuracy: 0.6628
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8602 - binary_accuracy: 0.6792
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8387 - binary_accuracy: 0.7026
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8605 - binary_accuracy: 0.6745
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8590 - binary_accuracy: 0.6651
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8595 - binary_accuracy: 0.6581
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8594 - binary_accuracy: 0.6792
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8527 - binary_accuracy: 0.6628
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8608 - binary_accuracy: 0.6768
Epoch 1/1
427/427 [==============================] - 1s 2ms/step - loss: 0.8496 - binary_accuracy: 0.6956
Epoch 1/1
712/712 [==============================] - 1s 1ms/step - loss: 0.8585 - binary_accuracy: 0.6629
Soft Voting w/Tuned Hyperparameters Training w/bin score mean: 83.75
Soft Voting w/Tuned Hyperparameters Test w/bin score mean: 82.38
Soft Voting w/Tuned Hyperparameters Test w/bin score 3*std: +/- 4.86
----------

e:\anaconda3_5_0_0\envs\deeplearning\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

In [229]:
predictions = grid_hard.predict(np.asarray(data[891:]))
predictions= predictions.reshape((418,1))
predictions

(418,)

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0]], dtype=int64)

In [230]:
ids = data_test['PassengerId'].copy()
new_output = ids.to_frame()
new_output

     PassengerId
0            892
1            893
2            894
3            895
4            896
5            897
6            898
7            899
8            900
9            901
10           902
11           903
12           904
13           905
14           906
15           907
16           908
17           909
18           910
19           911
20           912
21           913
22           914
23           915
24           916
25           917
26           918
27           919
28           920
29           921
..           ...
388         1280
389         1281
390         1282
391         1283
392         1284
393         1285
394         1286
395         1287
396         1288
397         1289
398         1290
399         1291
400         1292
401         1293
402         1294
403         1295
404         1296
405         1297
406         1298
407         1299
408         1300
409         1301
410         1302
411         1303
412         1304
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [231]:
new_output['Survived'] = predictions
new_output.sample(10)

     PassengerId  Survived
88           980         1
234         1126         0
33           925         1
320         1212         0
348         1240         0
411         1303         1
358         1250         0
344         1236         0
60           952         0
183         1075         0

In [232]:


new_output.to_csv('./working/my_submit.csv',index=False)